
/*Hide scrollbar in Chrome, Safari, EDGE and Opera */
.feed::-webkit-scrollbar {
    display: none;
}

/*makes the minimum width that the feed can be, the width of the
the content at minimum*/
.feed {
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}

.feed {
    -ms-overflow-style: none; /* IE and Edge*/
    scrollbar-width: none; /*Firefox*/
}


/*z-index of 100 makes sure that feed header is always on top
padding: 15px T/B, 20px L/R*/
.feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;

}

.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
}